@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Bungee", sans-serif;
    color-scheme: dark;
}

body {
    background: linear-gradient(
        135deg,
        #001f3f 0%,    /* Navy Blue */
        #003366 50%,   /* Darker Blue */
        #000080 100%   /* Deep Navy */
    );
}
